.wp_one_card {
    width: 350px;
    align-items: center;
    text-align: center;
}

.wp_buy_btn {
    width: 250px;
    height: 46px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}

.meta_block {
    display: flex;
    justify-content: space-between;
}

.meta_data {
    color: rgba(0, 0, 0, 0.5);
}

.wp_price {
    margin-right: 18px;
    margin-bottom: 18px;
}

.img {
    margin: 0 auto;
}